<nav class="navigation">
  <div class="navigation__logo">
    <img class="logo__image--audiencias-logo" src="/img/logo-audiencias-icon.svg">
    <img class="logo__image--audiencias-text" src="/img/logo-audiencias-text.svg">
  </div>
</nav>

{{outlet}}

<footer class="footer">
  <div class="footer__logos">
    <a class="logos__link" href="http://redciudadana.org.gt/">
      <img
        class="logos__image image"
        src="http://vi-gt2015.s3.amazonaws.com/img/logo_red_ciudadana.png"
        alt="Red Ciudadana"
        title="Red ciudadana"
      >
    </a>
  </div>
</footer>
