<main class="home">
  <section class="section-top">
    <div class="banner">
      <img class="banner__logo" src="/img/front-banner.jpg" style="width: 100%;">
      {{!-- <p class="banner__text">¡Acompaña en vivo, participa enviando tus preguntas y comentarios!</p> --}}
    </div>
  </section>

  <section class="section-bottom">
    <div class="preview--live-videos hide">
      <div class="preview__floating-header">
        <i class="header__icon icon icon-circle live-blink"></i>
        <h2 class="header__title">En vivo</h2>
      </div>

      <div class="preview__list-wrapper">
        <ul class="preview__list">
        </ul>
      </div>
    </div>

    <div class="preview--closed-videos">
      <div class="preview__floating-header">
        <i class="header__icon icon icon-play"></i>
        <h2 class="header__title">INSTITUCIONES</h2>
      </div>

      <div class="preview__list-wrapper">
        <ul class="preview__list">
          {{#each model as |audiencia|}}
            <li class="list__video text-center">
              {{#if audiencia.thumbMedium}}
                {{#link-to 'audiencia' audiencia.id class="video__link"}}
                  <img class="video__thumbnail" src="{{audiencia.thumbMedium}}">
                {{/link-to}}
              {{/if}}

              <h2 class="video__title">
                {{#link-to 'audiencia' audiencia.id class="title__link"}}
                  {{audiencia.nombre}}
                {{/link-to}}
              </h2>
            </li>
          {{/each}}
        </ul>
      </div>

      <div class="preview__show-all hide">
      </div>
    </div>

    <div class="preview--calendar hide">
      <div class="preview__floating-header">
        <i class="header__icon icon icon-calendar"></i>
        <h2 class="header__title">Calendario</h2>
      </div>

      <table class="calendar-table">
        <tbody class="calendar-table__body">
        </tbody>
      </table>
    </div>
  </section>
</main>
